#Dependencies
**/.DS_store
node_modules
bower_components
client/lib
server/watson/api_key.txt
server/watson/watson_api_key.js
server/trends/googleTrendsCookie.js
server/trends/twitterAPIKey.js
client/node_modules

#PersonalNotes
notes.txt
