.centerHeader {
  color: white;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 300%;
}

#formNewsLink {
  padding: 0px 20% 0px 20%;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.formNewsLinkHeader {
  color: white;
}

.formNewsLinkDescription {
  color: rgb(237, 237, 237);
}

body {
  background: -webkit-linear-gradient(left top, rgb(22, 140, 224), rgb(22, 170, 224));
}
