#formContainer {
  padding: 0px 20% 0px 20%;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#trendsContainer {
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#testContainer {
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.centerGeneric {
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.centerHeader {
  /*color: white;*/
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 300%;
  color: black;
}

.formNewsLinkHeader {
  /*color: white;*/
  color: black;
}

.formNewsLinkDescription {
  color: rgb(237, 237, 237);
}


body {
  /*background: -webkit-linear-gradient(left top to right bottom, rgb(22, 140, 224), rgb(68, 233, 244));*/
  background-color: white;
}

/*TEST*/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
  fill: lightsteelblue;
  stroke-width: 0;
}
