.fake-site-popup,
.fake-site-alert,
.fake-site-close {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 200;
}

.fake-site-popup {
  width: 100%;
  position: fixed;
  z-index: 100000000;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(255,0,0,0.8);
  top: 0;
}

.satire-site-popup {
  width: 100%;
  position: fixed;
  z-index: 100000000;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(255,153,0,0.8);
  top: 0;
}

.biased-site-popup {
  width: 100%;
  position: fixed;
  z-index: 100000000;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(255,255,0,0.8);
  top: 0;
}

.biased-site-alert {
  font-family: Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 200;
  text-align: center;
  font-size: 30px;
}

.biased-site-close {
  text-align: right;
  cursor: pointer;
  font-size: 12px;
  margin-right: 30px;
  color: #000000;
}

.fake-site-alert {
  text-align: center;
  font-size: 30px;
}

.fake-site-close {
  text-align: right;
  cursor: pointer;
  font-size: 12px;
  margin-right: 30px;
}

.example-defaultTheme {
  background-color: 'red';
}

.example-censorTheme {
  background-color: 'black';
  color: 'black';
}

.themes-title, .blacklist-title, .general-title {
  padding-left: 10%;
  padding-top: 90px;
}

.themes-div, .blacklist-div, .general-div {
  padding-left: 10%;
}

.header-nav {
  float: left;
}

.header-nav ul {
  height: auto;
  padding: 20px 0px;
  margin: 0px;

}

.header-nav li {
  display: inline;
  padding: 20px;
}

.header-nav li:hover {
  background-color: #00BFFF;

  border-radius: 10px;
}
table {
  height: 20%;

}
.secTd{
  padding-left:50px;
}

#header {
    background: #c0deed;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 84px;
    z-index: 1;
    border-bottom: 1px solid #E9E9E9;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .15);
}
/*body, html {
  background: linear-gradient(to bottom right, #DCDCDC , #D3D3D3);
  height: 100%;
} */

.userBlacklistField {
  width: 60%;
}

.whitelistField {
  width: 60%;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
}

body, html {
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);

}
