<div class="general-title">
  <h1>General Settings</h1>
</div>
<div class="general-div">
  <h3> Disable: </h3>
  <div> Options </div>
  <form name='disabler' class='radio'>
    <table>

      <tr>
        <td>Enable: </td>
        <td class='secTd'><input name="time" ng-model="minutes" type='radio' ng-value=0></input></td>
      </tr>

      <tr>
        <td>Disable for 10 Minutes: </td>
        <td class='secTd'><input name="time" ng-model="minutes" type='radio' ng-value=10></input></td>
      </tr>
      
      <tr>
        <td>Disable for 30 Minutes: </td>
        <td class='secTd'><input name="time" ng-model="minutes" type='radio' ng-value=30></input></td>
      </tr>
      
      <tr>
        <td>Disable for 1 Hour    : </td>
        <td class='secTd'><input name="time" ng-model="minutes" type='radio' ng-value=60></input></td>
      </tr>
      
      <tr>
        <td>Disable     : </td>
        <td class='secTd'><input name="time" ng-model="minutes" type='radio' ng-value=null></input></td>
      </tr>

    </table>
  </form>

  <pre>
    {{minutes}}
  </pre>
</div>
